/.vs/
/.vscode/
/Project Files/.vs/
/log/
/Project Files/temp_files/
/Project Files/Multi core-Debug/
/Project Files/Multi core-Release/
/Project Files/obj/
/Project Files/Release/
/Project Files/Single core-Debug/
/Project Files/Single core-Debug/RaR.log
/Project Files/Single core-Final Release/
/Project Files/Single core-Final Release/RaR.log
/Project Files/Single core-Release/
/Project Files/Build Release/
/Project Files/Debug/
/Project Files/XML hardcoding-Release/
