/.vs/
/.vscode/
/Project Files/.vs/
/log/
/Project Files/temp_files/
/Project Files/Multi core-Debug/
/Project Files/Multi core-Release/
/Project Files/obj/
/Project Files/Release/
/Project Files/Single core-Debug/
/Project Files/Single core-Debug/RaR.log
/Project Files/Single core-Final Release/
/Project Files/Single core-Final Release/RaR.log
/Project Files/Single core-Release/
/Project Files/Build Release/
/Project Files/Debug/
/Project Files/XML hardcoding-Release/

_Civ4Config.lnk
_Civ4CustomAssets.lnk
_Civ4CustomMaps.lnk
_Civ4CustomMods.lnk
_Civ4Logs.lnk
_Civ4Patch.lnk
_Civ4Replays.lnk
_Civ4Saves.lnk
_Civ4ScreenShots.lnk
_Civ4TransferredMaps.lnk
ThemeParseLog.txt
.idea/
Project Files/RaR.VC.db